### Request Data
Data coming from the UN Data Portal: [data API](https://population.un.org/dataportal/about/dataapi)

Look for population indicators for Italy.

In [1]:
import pandas as pd
import requests
import json
import warnings
warnings.filterwarnings("ignore")

In [2]:
# Declares the base url for calling the API
base_url = "https://population.un.org/dataportalapi/api/v1"

GET LIST OF INDICATORS WITH THEIR IDS

In [3]:
# Creates the target URL, indicators, in this instance
target = base_url + "/indicators/"

# Get the response, which includes the first page of data as well as information on pagination and number of records
response = requests.get(target)

# Converts call into JSON
j = response.json()

# Converts JSON into a pandas DataFrame.
indicators_df = pd.json_normalize(j['data']) # pd.json_normalize flattens the JSON to accomodate nested lists within the JSON structure

# Loop until there are new pages with data
while j['nextPage'] != None:
    # Reset the target to the next page
    target = j['nextPage']

    #call the API for the next page
    response = requests.get(target)

    # Convert response to JSON format
    j = response.json()

    # Store the next page in a data frame
    df_temp = pd.json_normalize(j['data'])

    # Append next page to the data frame
    indicators_df = indicators_df.append(df_temp)

In [4]:
indicators_df.columns

Index(['id', 'name', 'shortName', 'description', 'displayName', 'dimAge',
       'dimSex', 'dimVariant', 'dimCategory', 'defaultAgeId', 'defaultSexId',
       'defaultVariantId', 'defaultCategoryId', 'variableType', 'valueType',
       'unitScaling', 'precision', 'isThousandSeparatorSpace', 'formatString',
       'unitShortLabel', 'unitLongLabel', 'nClassesDefault',
       'downloadFileName', 'sourceId', 'sourceName', 'sourceYear',
       'sourceStartYear', 'sourceEndYear', 'sourceCitation', 'sourceUrl',
       'topicId', 'topicName', 'topicShortName'],
      dtype='object')

In [5]:
indicators_df.groupby(['id','name']).size().reset_index()[['id', 'name']]

    id                                               name
0    1     Contraceptive prevalence: Any method (Percent)
1    2  Contraceptive prevalence: Any modern method (P...
2    3  Contraceptive prevalence: Any traditional meth...
3    4  Unmet need for family planning: Any method (Pe...
4    5  Unmet need for family planning: Any modern met...
5    6         Total demand for family planning (Percent)
6    7  Demand for family planning satisfied by any me...
7    8  Demand for family planning satisfied by any mo...
8    9      Contraceptive prevalence: Any method (Number)
9   10  Contraceptive prevalence: Any modern method (N...
10  11  Unmet need for family planning: Any method (Nu...
11  12  Unmet need for family planning: Any modern met...
12  17          Fertility rates by age of mother (5-year)
13  18                  Mean age of childbearing (5-year)
14  19                               Total fertility rate
15  22                        Infant mortality rate (IMR)
16  24                   Under-five mortality rate (U5MR)
17  40  Contraceptive prevalence: Any traditional meth...
18  41  Female population of reproductive age (15-49 y...
19  42                        Currently married (Percent)
20  43                         Currently married (Number)
21  44        Currently married by age of woman (Percent)
22  45         Currently married by age of woman (Number)
23  46            Population by 5-year age groups and sex
24  47            Population by 1-year age groups and sex
25  48          Total demand for family planning (Number)
26  49                            Total population by sex
27  50                                  Population Change
28  51                          Rate of population change
29  52                       Natural change of population
30  53         Crude rate of natural change of population
31  54                                 Population density
32  55                                   Crude birth rate
33  56                              Net Reproduction Rate
34  57                                Total births by sex
35  58                                 Sex ratio at birth
36  59                                   Crude death rate
37  60                                Total deaths by sex
38  61                           Life expectancy at birth
39  62                 Probability of dying 15-50 (35q15)
40  63                 Probability of dying 15-60 (45q15)
41  64                Deaths by 5-year age groups and sex
42  65                                Total net-migration
43  66                        Crude rate of net migration
44  67                           Median age of population
45  68          Fertility rates by age of mother (1-year)
46  69                Deaths by 1-year age groups and sex
47  70       Population by age and sex - broad age groups
48  71  Percentage of total population by broad age group
49  72                  Sex ratio of the total population
50  73                   Births by age of mother (5-year)
51  74                   Births by age of mother (1-year)
52  75                    Life expectancy E(x) - abridged
53  76                    Life expectancy E(x) - complete
54  77             Survivors to exact age l(x) - abridged
55  78             Survivors to exact age l(x) - complete
56  79      Age specific mortality rate m(x,n) - abridged
57  80      Age specific mortality rate m(x,n) - complete
58  81             Probability of dying q(x,n) - abridged
59  82             Probability of dying q(x,n) - complete

In [6]:
ind = indicators_df.groupby(['id','name']).size().reset_index()[['id', 'name']]
for i in range(len(ind)):
    if 'population' in ind.at[i, 'name'].lower():
        print(indicators_df.at[i, 'id'], indicators_df.at[i, 'name'])

41 Female population of reproductive age (15-49 years)
46 Population by 5-year age groups and sex
47 Population by 1-year age groups and sex
49 Total population by sex
50 Population Change
51 Rate of population change
52 Natural change of population
53 Crude rate of natural change of population
54 Population density
67 Median age of population
70 Population by age and sex - broad age groups
71 Percentage of total population by broad age group
72 Sex ratio of the total population

In [7]:
ind = indicators_df.groupby(['id','name']).size().reset_index()[['id', 'name']]
for i in range(len(ind)):
    if 'fertility' in ind.at[i, 'name'].lower():
        print(indicators_df.at[i, 'id'], indicators_df.at[i, 'name'])

17 Fertility rates by age of mother (5-year)
19 Total fertility rate
68 Fertility rates by age of mother (1-year)

SELECT ID FOR ITALY

In [8]:
# Creates the target URL, indicators, in this instance
target = base_url + "/locations/"

# Get the response, which includes the first page of data as well as information on pagination and number of records
response = requests.get(target)

# Converts call into JSON
j = response.json()

# Converts JSON into a pandas DataFrame.
countries = pd.json_normalize(j['data']) # pd.json_normalize flattens the JSON to accomodate nested lists within the JSON structure

# Loop until there are new pages with data
while j['nextPage'] != None:
    # Reset the target to the next page
    target = j['nextPage']

    #call the API for the next page
    response = requests.get(target)

    # Convert response to JSON format
    j = response.json()

    # Store the next page in a data frame
    df_temp = pd.json_normalize(j['data'])

    # Append next page to the data frame
    countries = countries.append(df_temp)
    
# Search Italy
countries[countries.name == 'Italy']

     id   name iso3 iso2  longitude   latitude
99  380  Italy  ITA   IT   12.56738  41.871941

In [13]:
# bbox eu cntr -> -13.816402,34.411180,34.171879,71.576764
eu = countries[(countries.longitude >= -13.816402)&(countries.longitude <= 34.411180)&(countries.latitude<=71.576764)&(countries.latitude>=34.171879)].reset_index(drop=True)

In [20]:
eu # id_eu_cntrs = [208, 246, 250, 276, 300, 348, 372, 380, 528, 578, 616, 620, 724, 752, 756, 826]

     id                    name iso3 iso2  longitude   latitude
0     8                 Albania  ALB   AL  20.168331  41.153332
1    20                 Andorra  AND   AD   1.521801  42.506287
2    40                 Austria  AUT   AT  14.550072  47.516232
3    56                 Belgium  BEL   BE   4.469936  50.503887
4    70  Bosnia and Herzegovina  BIH   BA  17.679075  43.915886
5   100                Bulgaria  BGR   BG  25.485830  42.733883
6   112                 Belarus  BLR   BY  27.953388  53.709808
7   191                 Croatia  HRV   HR  15.200000  45.099998
8   196                  Cyprus  CYP   CY  33.429859  35.126411
9   203                 Czechia  CZE   CZ  15.472962  49.817493
10  208                 Denmark  DNK   DK   9.501785  56.263920
11  233                 Estonia  EST   EE  25.013607  58.595272
12  234           Faroe Islands  FRO   FO  -6.911806  61.892635
13  246                 Finland  FIN   FI  25.748152  61.924110
14  250                  France  FRA   FR   2.213749  46.227638
15  276                 Germany  DEU   DE  10.451526  51.165691
16  292               Gibraltar  GIB   GI  -5.353585  36.140751
17  300                  Greece  GRC   GR  21.824312  39.074207
18  336                Holy See  VAT   VA  12.453389  41.902916
19  348                 Hungary  HUN   HU  19.503304  47.162495
20  372                 Ireland  IRL   IE  -8.243890  53.412910
21  380                   Italy  ITA   IT  12.567380  41.871941
22  428                  Latvia  LVA   LV  24.603189  56.879635
23  438           Liechtenstein  LIE   LI   9.555373  47.166000
24  440               Lithuania  LTU   LT  23.881275  55.169437
25  442              Luxembourg  LUX   LU   6.129583  49.815273
26  470                   Malta  MLT   MT  14.375416  35.937496
27  492                  Monaco  MCO   MC   7.424616  43.738419
28  498     Republic of Moldova  MDA   MD  28.369884  47.411633
29  499              Montenegro  MNE   ME  19.374390  42.708679
30  528             Netherlands  NLD   NL   5.291266  52.132633
31  578                  Norway  NOR   NO   8.468946  60.472023
32  616                  Poland  POL   PL  19.145136  51.919437
33  620                Portugal  PRT   PT  -8.224454  39.399872
34  642                 Romania  ROU   RO  24.966761  45.943161
35  674              San Marino  SMR   SM  12.457777  43.942360
36  688                  Serbia  SRB   RS  21.005859  44.016521
37  703                Slovakia  SVK   SK  19.699024  48.669025
38  705                Slovenia  SVN   SI  14.995463  46.151241
39  724                   Spain  ESP   ES  -3.749220  40.463669
40  752                  Sweden  SWE   SE  18.643501  60.128162
41  756             Switzerland  CHE   CH   8.227512  46.818188
42  804                 Ukraine  UKR   UA  31.165581  48.379433
43  807         North Macedonia  MKD   MK  21.745275  41.608635
44  826          United Kingdom  GBR   GB  -3.435973  55.378052
45  833             Isle of Man  IMN   IM  -4.548056  54.236107

COLLECT DATA FOR THE SELECTERD INDICATOR

In [56]:
# Creates the target URL, indicators, in this instance
target = base_url + "/data/indicators/46/locations/380/start/2005/end/2010"

# Get the response, which includes the first page of data as well as information on pagination and number of records
response = requests.get(target)

# Converts call into JSON
j = response.json()

# Converts JSON into a pandas DataFrame.
df = pd.json_normalize(j['data']) # pd.json_normalize flattens the JSON to accomodate nested lists within the JSON structure

# Loop until there are new pages with data
while j['nextPage'] != None:
    # Reset the target to the next page
    target = j['nextPage']

    #call the API for the next page
    response = requests.get(target)

    # Convert response to JSON format
    j = response.json()

    # Store the next page in a data frame
    df_temp = pd.json_normalize(j['data'])

    # Append next page to the data frame
    df = df.append(df_temp)

In [57]:
df.columns

Index(['locationId', 'location', 'iso3', 'iso2', 'locationTypeId',
       'indicatorId', 'indicator', 'indicatorDisplayName', 'sourceId',
       'source', 'revision', 'variantId', 'variant', 'variantShortName',
       'variantLabel', 'timeId', 'timeLabel', 'timeMid', 'categoryId',
       'category', 'estimateTypeId', 'estimateType', 'estimateMethodId',
       'estimateMethod', 'sexId', 'sex', 'ageId', 'ageLabel', 'ageStart',
       'ageEnd', 'ageMid', 'value'],
      dtype='object')

In [76]:
df[['location', 'timeLabel', 'sex', 'ageLabel', 'value']][df.sex!='Both sexes'].reset_index(drop=True)

    location timeLabel     sex ageLabel      value
0      Italy      2005    Male      0-4  1404344.5
1      Italy      2005  Female      0-4  1328394.5
2      Italy      2005    Male      5-9  1379646.0
3      Italy      2005  Female      5-9  1302143.5
4      Italy      2005    Male    10-14  1441613.0
..       ...       ...     ...      ...        ...
247    Italy      2010  Female    90-94   244632.0
248    Italy      2010    Male    95-99    24698.5
249    Italy      2010  Female    95-99    91422.5
250    Italy      2010    Male     100+     2083.0
251    Italy      2010  Female     100+    11047.5

[252 rows x 5 columns]

In [59]:
df.ageLabel.unique()

array(['0-4', '5-9', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39',
       '40-44', '45-49', '50-54', '55-59', '60-64', '65-69', '70-74',
       '75-79', '80-84', '85-89', '90-94', '95-99', '100+'], dtype=object)